@import "./../../../../../assets/styles/variables";

.table-tools-container {
  display: flex;
  width: 100%;
  .item-filter-container {
    width: calc(100% - #{$main-btn-width});
    .item-filter {
      width: 100%;
    }
  }

  .export-btn-container {
    width: $main-btn-width;
    padding-left: 10px;
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.net-worth-table-outer-container {
  width: 100%;
  .net-worth-table-container {
    height: calc(#{$net-worth-content-height} - 70px);
    overflow: auto;
    .net-worth-table {
      width: 100%;

      td {
        &.icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          img {
            max-height: 40px;
          }
        }
      }

      th {
        z-index: auto !important;
      }
    }
  }
}
