@import "./../../../../assets/styles/variables";

.notification-list {
  .timestamp {
    color: $secondary-font-color;
    margin-right: 15px;
  }
  .error {
    mat-panel-title {
      color: $error-color !important;
    }
  }
  .warning {
    mat-panel-title {
      color: $warning-color !important;
    }
  }
  .information {
    mat-panel-title {
      color: $information-color !important;
    }
  }
}
