<div class="chart-container" *ngIf="!loading">

  <div class="mid-text-container" *ngIf="(selectedTabs$ | async).length == 0">
    <div class="h-container">
      <mat-icon class="h-icon">warning</mat-icon>
      <h3 class="mat-h3">{{'NETWORTH.WARNING_NO_SELECTED_TABS' | translate }}</h3>
    </div>
  </div>
  <ng-container *ngIf="(selectedTabs$ | async).length > 0">
    <div class="player-chart-container">
      <ngx-charts-line-chart [scheme]="defaultColorScheme" [results]="playerChartData" [xAxis]="false" [yAxis]="true"
        [legend]="true" legendTitle="{{ 'NETWORTH.GRAPHS.PLAYER_GRAPH.LEGEND_TITLE' | translate }}"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisTickFormatting]="axisFormat"
        xAxisLabel="{{ 'NETWORTH.GRAPHS.TIMESTAMP' | translate }}"
        yAxisLabel="{{ 'NETWORTH.GRAPHS.VALUE' | translate }}" [autoScale]="true" [timeline]="false">
      </ngx-charts-line-chart>
    </div>
    <div class="tab-chart-container">
      <ngx-charts-line-chart [scheme]="colorScheme" [results]="tabChartData" [xAxis]="true" [yAxis]="true"
        [legend]="true" legendTitle="{{ 'NETWORTH.GRAPHS.TAB_GRAPH.LEGEND_TITLE' | translate }}" [showXAxisLabel]="true"
        [showYAxisLabel]="true" [xAxisTickFormatting]="axisFormat"
        xAxisLabel="{{ 'NETWORTH.GRAPHS.TIMESTAMP' | translate }}"
        yAxisLabel="{{ 'NETWORTH.GRAPHS.VALUE' | translate }}" [autoScale]="true" [timeline]="false">
      </ngx-charts-line-chart>
    </div>
  </ng-container>
</div>
<div class="spinner-container" *ngIf="loading">
  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</div>