<mat-toolbar class="toolbar noselect">
  <span class="title">{{ 'APP.TITLE' | translate }}
    <span class="version">Build {{appVersion}}</span>
  </span>
  <div class="pull--right btn-area">
    <mat-icon (click)="toggleSidenav()" class="sidenav-toggle" [ngClass]="isToggled ? 'toggled' : ''">
      keyboard_arrow_left</mat-icon>
    <div class="link-container">
      <a (click)="logout()">
        {{ 'ACCOUNT.LOGOUT' | translate}} </a>
    </div>
    <ng-container *ngIf="electronService.isElectron()">
      <mat-icon (click)="minimize()">minimize</mat-icon>
      <mat-icon (click)="maximize()" *ngIf="!isMaximized">crop_square</mat-icon>
      <mat-icon (click)="unmaximize()" *ngIf="isMaximized">filter_none</mat-icon>
      <mat-icon (click)="close()">close</mat-icon>
    </ng-container>
  </div>
</mat-toolbar>