@import "./exilence-theme.scss";

/* #region General */
$main-padding: 25px;
$main-margin: 25px;
$container-padding: 25px;
$version-font-color: #cecece;

$background-color: #303030;
$background-color-secondary: #171717;
$background-overlay: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8));
$faded-overlay-color: rgba(27, 27, 27, 0.6);
$scrollbar-background-color: #1d1d1d;
/* #endregion */

/* #region Font */
$main-font: 'Roboto';
$font-color: #fff;
$warning-color: #ffbd56;
$information-color: $font-color;
$error-color: #f74b4b;
$secondary-font-color: #cecece;
$font-size: 13px;
/* #endregion */

/* #region Toolbar */
$toolbar-height: 30px;
$toolbar-background-color: #0a0a0a;
$notification-badge-color: $secondary;
$resize-handle-container-height: 5px;
$disabled-color: #888888;
$toolbar-font-color: $secondary-font-color;
/* #endregion */

/* #region Top bar */
$top-bar-height: 70px;
/* #endregion */

/* #region Net worth */
$net-worth-content-p-top: 85px;
$net-worth-content-p-bot: 125px;
$net-worth-content-height: calc(100vh - #{$toolbar-height} - #{$net-worth-content-p-bot} - #{$net-worth-content-p-top});
$global-config-width: 150px;
/* #endregion */

/* #region Item */
$rarity-normal-color: #c0c0c0;
$rarity-magic-color: #8888FF;
$rarity-rare-color: #EBEB57;
$rarity-unique-color: #da7a36;
$rarity-gem-color: #1ba29b;
$rarity-currency-color: #AD904B;
$rarity-questitem-color: #6eb930;
$corrupted-item-color: #f12828;
$item-gemlevel-color: #25c4bc;
$item-links-color: $font-color;
$not-available-color: #b9b9b9;
$chaos-orb-color: #f0cc00;
/* #endregion */

/* #region Login */
$login-content-height: calc(100vh - #{$toolbar-height} - #{$container-padding}*2);
/* #endregion */

/* #region Sidebar */
$sidebar-content-height: calc(100vh - #{$toolbar-height});
$sidebar-width: 550px;
/* #endregion */

/* #region Settings */
$topbar-content-height: calc(100vh - #{$toolbar-height});
$topbar-width: 550px;
/* #endregion */

/* #region Screen size */
$screen-xs: 600px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
/* #endregion */

