@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exilence-theme.scss";

.exilence {
  @include angular-material-theme($exilence-theme);
}

html,
body {
  margin: 0;
  padding: 0;
  color: $font-color;
  font-family: $main-font;
  background: $background-color;
  height: 100%;
}

.container {
  padding: $container-padding;
  top: $toolbar-height;
  background: $background-overlay, url("./../img/legion-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  > *:not(.login-section, hr) {
    width: 100%;
    height: 100%;
  }

  &.login-content {
    height: $login-content-height;
  }

  &.net-worth-content {
    padding-top: $net-worth-content-p-top;
    padding-bottom: $net-worth-content-p-bot;
    height: $net-worth-content-height;
  }
}

a {
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.mat-tab-group {
  position: absolute;
  padding: 10px 25px 25px 25px;
  width: calc(100% - #{$main-padding}* 2);
}

.h-container {
  font-weight: normal;
  color: $secondary;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .h-icon {
    margin: 0 5px 16px 0;
  }
}

.btn-grp {
  button {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.pull--right {
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
}

.pull--left {
  justify-content: flex-start;
  display: flex;
  margin-right: auto;
}

.float--left {
  float: left;
}

.pos--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml--15 {
  margin-left: 15px;
}

.mr--15 {
  margin-right: 15px;
}

.mx--15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my--15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.noselect {
  user-select: none;
}

/* #region Item colors */
.rarity-0 {
  color: $rarity-normal-color;
}

.rarity-1 {
  color: $rarity-magic-color;
}

.rarity-2 {
  color: $rarity-rare-color;
}

.rarity-3 {
  color: $rarity-unique-color;
}

.rarity-4 {
  color: $rarity-gem-color;
}

.rarity-5 {
  color: $rarity-currency-color;
}

.rarity-7 {
  color: $rarity-questitem-color;
}

.corrupted {
  color: $corrupted-item-color;
}

.links {
  color: $item-links-color;
}

.gemlevel {
  color: $item-gemlevel-color;
}

.not-available {
  color: $not-available-color;
}

.chaos-icon {
  height: 21px;
  width: 21px;
  content: url("./../img/currency/chaos_orb.png");
}

.net-worth-value {
  color: $chaos-orb-color;
}

/* #endregion */

/* #region Ngx-charts overrides */
.chart-legend .legend-title {
  font-weight: normal !important;
}
.legend-label:hover,
.active,
.legend-label-text,
.chart-legend {
  color: #fff !important;
}

.legend-label {
  text-overflow: ellipsis !important;
  max-width: 175px !important;
}
/* #endregion */

/* #region Material overrides */
.mat-snack-bar-container {
  max-width: 60vw !important;
  background: $background-color !important;
  color: $font-color !important;
}

.mat-progress-bar .mat-progress-bar-fill {
  transition-duration: 0ms !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]).cdk-program-focused {
  background: none !important;
}

/* #endregion */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $font-color !important;
}