<mat-tab-group #tabGroup id="tabGroup" class="net-worth-tab-group" [(selectedIndex)]="selectedIndex">
    <mat-tab #currentGrpTab id="currentGrpTab" class="active">
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">show_chart</mat-icon>
            &nbsp;{{'NETWORTH.GRAPHS.HEADER' | translate}}
        </ng-template>
    </mat-tab>
    <mat-tab #summaryTab id="summaryTab">
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">list</mat-icon>
            &nbsp;{{'NETWORTH.ITEMS.HEADER' | translate}}
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div class="container net-worth-content">
    <app-top-bar [lastSnapshot$]="lastSnapshot$" [totalValue$]="totalValue$" [selectedTabsValue$]="selectedTabsValue$" [stashtabList$]="stashtabList$" [moduleIndex$]="moduleIndex$" [playerList$]="playerList$"
        [selectedTabs$]="selectedTabs$" (tabSelectionChanged)="tabsChanged($event)"></app-top-bar>

    <app-net-worth-graph [selectedTabs$]="selectedTabs$" [loading]="graphLoading" [tabChartData]="tabChartData" [playerChartData]="playerChartData" [colorScheme]="colorScheme"
        [hidden]="selectedIndex != 0"></app-net-worth-graph>

    <app-net-worth-item-table [tableData]="tableData" [hidden]="selectedIndex != 1"></app-net-worth-item-table>
</div>