<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target
      xsi:type="Console"
      layout="${date} ${message}"
      name="console"
    />

    <!-- Day (./logs/yyyy-mm-dd.txt) -->
    <target
      name="logfile-day"
      xsi:type="File"
      layout="${date} ${message} ${exception:format=Data,toString:separator=\r\n:exceptionDataSeparator=\r\n}"
      fileName="${basedir}/logs/${shortdate}-log.txt"
    />
  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="logfile-day" />
    
  </rules>
</nlog>