<div class="pull--right">
  <mat-form-field class="ml--15">
    <input matInput [matDatepicker]="dpStart" placeholder="{{ 'NETWORTH.STARTDATE' | translate}}" [formControl]="startDate">
    <mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
    <mat-datepicker #dpStart></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="ml--15">
    <input matInput [matDatepicker]="dpEnd" placeholder="{{ 'NETWORTH.ENDDATE' | translate}}" [formControl]="endDate">
    <mat-datepicker-toggle matSuffix [for]="dpEnd"></mat-datepicker-toggle>
    <mat-datepicker #dpEnd></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="ml--15">
      <mat-label>{{ 'NETWORTH.STASHTABS' | translate}}</mat-label>
      <mat-select [formControl]="stashtabs" (selectionChange)="selectedTab($event)" multiple>
        <mat-option *ngFor="let tab of stashtabList$ | async" [value]="tab.id">{{tab.n}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>