<mat-vertical-stepper #stepper linear="true">
  <mat-step [stepControl]="accountFormGroup" editable="true">
    <form [formGroup]="accountFormGroup">
      <ng-template matStepLabel>{{'ACCOUNT.TITLE' | translate}}</ng-template>
      <p class="mat-body-1">{{'ACCOUNT.DESC' | translate}}</p>
      <mat-form-field>
        <input matInput #accountName formControlName="accountName" placeholder="{{'ACCOUNT.NAME' | translate}}"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput #sessionId formControlName="sessionId" type="password"
          placeholder="{{'ACCOUNT.SESSIONID' | translate}}" required>
      </mat-form-field>
      <div class="my--15" *ngIf="loading$ | async">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
      <div class="btn-grp pull--right">
        <button mat-raised-button color="primary" [attr.disabled]="!accountFormGroup.valid"
          (click)="doValidate(accountName.value, sessionId.value)">{{'ACTIONS.VALIDATE' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="leagueFormGroup">
    <form [formGroup]="leagueFormGroup">
      <ng-template matStepLabel>{{'LEAGUE.TITLE' | translate}}</ng-template>
      <p class="mat-body-1">{{'LEAGUE.DESC' | translate}}</p>
      <mat-form-field>
        <mat-select formControlName="leagueName" (selectionChange)="mapTradeLeague($event)"
          placeholder="{{'LEAGUE.SELECT_LEAGUE' | translate}}" required>
          <mat-option *ngFor="let item of leagues$ | async" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="tradeLeagueName" placeholder="{{'LEAGUE.SELECT_TRADELEAGUE' | translate}}" required>
          <mat-option *ngFor="let item of tradeLeagues$ | async" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="btn-grp pull--right">
        <button mat-raised-button class="btn-back" matStepperPrevious>{{'ACTIONS.BACK' | translate}}</button>
        <button mat-raised-button color="primary" [attr.disabled]="!leagueFormGroup.valid || !(validated$ | async)" (click)="doLogin()">{{'ACTIONS.CONTINUE' | translate}}</button>
      </div>
      <div class="my--15" *ngIf="loading$ | async">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>