@import "./../../../../assets/styles/variables";

.resize-handle-container {
  width: 100%;
  height: $resize-handle-container-height;
  -webkit-app-region: no-drag;
  background-color: $toolbar-background-color;
}

.mat-toolbar {
  color: $toolbar-font-color;
  background: $toolbar-background-color;
  height: calc(#{$toolbar-height} - #{$resize-handle-container-height});
  -webkit-app-region: drag;

  .btn-area {
    -webkit-app-region: no-drag;
    align-items: center;
    max-height: 100%;
    .toolbar-content-container {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      a {
        color: $primary;
        font-size: $font-size;
        &.disabled {
          color: $disabled-color;
          cursor: not-allowed;
        }
      }        
    }

    .notification-badge {
      position: relative;
      font-size: 11px;
      color: $font-color;
      width: 25px;
      height: 16px;
      font-weight: 200;
      text-align: center;
      line-height: 17px;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid $notification-badge-color;
      &.has-notifications {
        background: $notification-badge-color;
        color: #000;
      }
    }
  }

  .mat-icon {
    width: 15px !important;
    height: 15px !important;

    cursor: pointer;
  }

  .material-icons {
    font-size: 15px;
  }

  > a,
  span {
    font-size: $font-size;
    text-transform: uppercase;

    &.title {
      letter-spacing: 6px;
      color: $primary;

      .version {
        color: $version-font-color;
        letter-spacing: 3px;
      }
    }
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 10px $resize-handle-container-height 10px;
}
