<div class="resize-handle-container"></div>
<mat-toolbar class="toolbar noselect">
  <span class="title">{{ 'APP.TITLE' | translate }}
    <span class="version">Build {{appVersion}}</span>
  </span>
  <div class="pull--right btn-area">
    <div class="toolbar-content-container mr--15">
      <div (click)="toggleSidenav()" *ngLet="(newNotifications$ | async).length as notificationCount"
        class="notification-badge" [ngClass]="{ 'has-notifications': notificationCount > 0 }">
        <ng-container *ngIf="notificationCount < 9 && notificationCount > 0">
          {{notificationCount}}
        </ng-container>
        <ng-container *ngIf="notificationCount >= 9">
          9 +
        </ng-container>
        <ng-container *ngIf="notificationCount == 0">
          0
        </ng-container>
      </div>
    </div>
    <div class="toolbar-content-container mr--15">
      <a (click)="clear()">
        {{ 'SESSION.CLEAR' | translate}} </a>
    </div>
    <div class="toolbar-content-container mr--15">
      <a class="logout-link" (click)="logout()" [ngClass]="{ 'disabled': (status$ | async).snapshotting }">
        {{ 'ACCOUNT.LOGOUT' | translate}} </a>
    </div>
    <div class="toolbar-content-container mr--15">
      <mat-icon (click)="toggleSettings()">settings</mat-icon>
    </div>
    <div class="toolbar-content-container" *ngIf="electronService.isElectron()">
      <mat-icon (click)="minimize()">minimize</mat-icon>
      <mat-icon (click)="maximize()" *ngIf="!isMaximized">crop_square</mat-icon>
      <mat-icon (click)="unmaximize()" *ngIf="isMaximized">filter_none</mat-icon>
      <mat-icon (click)="close()">close</mat-icon>
    </div>
  </div>
</mat-toolbar>