<div class="resize-handle-container"></div>
<mat-toolbar class="toolbar noselect">
  <span class="title">{{ 'APP.TITLE' | translate }}
    <span class="version">Build {{appVersion}}</span>
  </span>
  <div class="pull--right btn-area">
    <div (click)="toggleSidenav()" *ngLet="(newNotifications$ | async).length as notificationCount"
      class="notification-badge" [ngClass]="{ 'has-notifications': notificationCount > 0 }">
      <ng-container *ngIf="notificationCount < 9 && notificationCount > 0">
        {{notificationCount}}
      </ng-container>
      <ng-container *ngIf="notificationCount >= 9">
        9 +
      </ng-container>
      <ng-container *ngIf="notificationCount == 0">
        N/A
      </ng-container>
    </div>
    <div class="link-container">
      <a (click)="logout()">
        {{ 'ACCOUNT.LOGOUT' | translate}} </a>
    </div>
    <ng-container *ngIf="electronService.isElectron()">
      <mat-icon (click)="minimize()">minimize</mat-icon>
      <mat-icon (click)="maximize()" *ngIf="!isMaximized">crop_square</mat-icon>
      <mat-icon (click)="unmaximize()" *ngIf="isMaximized">filter_none</mat-icon>
      <mat-icon (click)="close()">close</mat-icon>
    </ng-container>
  </div>
</mat-toolbar>