@import "./../../../../../assets/styles/variables";

.net-worth-bar {
    background: $background-color;
    height: $net-worth-bar-height;

    .net-worth-bar-content {
        padding: 25px 25px 0 25px;
    }
}