@import "./exilence-theme.scss";

/* #region General */
$container-padding: 25px;
$version-font-color: #cecece;
$background-color: #303030;
$background-overlay: linear-gradient(rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9));
/* #endregion */

/* #region Font */
$main-font: 'Roboto';
$font-color: #fff;
/* #endregion */

/* #region Net worth */
$net-worth-bar-height: 100px;
$net-worth-content-height: calc(100% - 30px - 125px - 90px);
/* #endregion */

/* #region Login */
$login-content-height: calc(100% - 30px - 50px - 125px); 
/* #endregion */

/* #region Toolbar */
$toolbar-height: 30px;
$toolbar-background-color: #0a0a0a;
/* #endregion */