@import '~@angular/material/theming';

@include mat-core();
$exilence-primary: mat-palette($mat-pink, 500);
$exilence-secondary: mat-palette($mat-pink, 700);
$exilence-dark: mat-palette($mat-pink, 900);
$exilence-darker: mat-palette($mat-pink, 900);
$exilence-accent: mat-palette($mat-grey, 600);
$exilence-accent-dark: mat-palette($mat-grey, 800);
$exilence-warn: mat-palette($mat-deep-orange);
$exilence-theme: mat-dark-theme($exilence-primary, $exilence-accent, $exilence-warn);

/* #region Global */
$primary: mat-color($exilence-primary);
$secondary: mat-color($exilence-secondary);
$accent: mat-color($exilence-accent);
$accent-dark: mat-color($exilence-accent-dark);
$darker: mat-color($exilence-darker);
$dark: mat-color($exilence-dark);
/* #endregion */