@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exilence-theme.scss";

.exilence {
    @include angular-material-theme($exilence-theme);
}

html, body {
  margin: 0;
  padding: 0;
  color: $font-color;
  font-family: $main-font;
  background: $background-color;
  height: 100%;
}

.container {
  padding: $container-padding;
  top: $toolbar-height;
  background: $background-overlay, url("./../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  > *:not(.login-section) {
      width: 100%;
      height: calc(100% - 75px);
  }

  padding-bottom: 150px;
  margin-bottom: -$net-worth-bar-height;

  &.login-content {
    height: $login-content-height;
  }
  
  &.net-worth-content {
    padding-top: 100px;
    height: $net-worth-content-height;
  }
}

.mat-tab-group {
  position: absolute;
  padding: 10px 25px 25px 25px;
  width: calc(100% - 50px);
}

.btn-grp {
  button {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.pull--right {
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
}

.pos--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml--15 {
  margin-left: 15px;
}

.mr--15 {
  margin-right: 15px;
}

.mx--15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my--15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* #region Ngx-charts overrides */
.chart-legend .legend-title {
  font-weight: normal !important;
}
/* #endregion */