@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exilence-theme.scss";

.exilence {
    @include angular-material-theme($exilence-theme);
}

html, body {
  margin: 0;
  padding: 0;
  color: $font-color;
  font-family: $main-font;
  background: $background-color;
  height: 100%;
}

.container {
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  height: $content-height;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $background-overlay, url("./../img/secondary-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  > * {
      width: 100%;
      height: 100%;
  }
}

.pull--right {
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
}

.pos--middle {
  margin-left: auto;
}
