@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exilence-theme.scss";

.exilence {
    @include angular-material-theme($exilence-theme);
}

html, body {
  margin: 0;
  padding: 0;
  color: $font-color;
  font-family: $main-font;
  background: $background-color;
  height: 100%;
}

.container {
  padding: $container-padding;
  top: $toolbar-height;
  height: $content-height;
  background: $background-overlay, url("./../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  > *:not(.login-section) {
      width: 100%;
  }

  margin-bottom: -$net-worth-bar-height;

  &.tab-group-container {
    padding-top: 100px;
    height: $content-height-with-tab;
  }
}

.mat-tab-group {
  position: absolute;
  padding: 25px;
}

.btn-grp {
  button {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.pull--right {
  justify-content: flex-end;
  display: flex;
  margin-left: auto;
}

.pos--center {
  display: flex;
  justify-content: center;
  align-items: center;
}