<div class="top-bar divider">
  <div class="top-bar-content">
    <div class="networth-wrapper">
      <span class="title">{{'NETWORTH.CURRENT_TOTAL' | translate }}</span>
      <br />
      <div class="networth-inner-wrapper">
        <span class="networth with-icon">
          <span>{{(totalValue$ | async).toFixed(2)}}&nbsp;&nbsp;</span><img class="chaos-icon" />
        </span>
      </div>
    </div>
    <div class="networth-wrapper">
      <span class="title">{{'NETWORTH.CURRENT_SELECTED' | translate }}</span>
      <br />
      <div class="networth-inner-wrapper">
        <span class="networth with-icon">
          <span>{{(selectedTabsValue$ | async).toFixed(2)}}&nbsp;&nbsp;</span><img class="chaos-icon" />
        </span>
      </div>
    </div>
    <div class="config specific-config">
      <ng-container [ngSwitch]="moduleIndex$ | async">
        <!-- todo: wrap this case as a component, to re use for case 1 -->
        <ng-container *ngSwitchCase="0">
          <mat-form-field>
            <mat-label>
              {{ ((stashtabList$ | async) == undefined || (stashtabList$ | async).length == 0 ? 'NETWORTH.NO_STASHTABS' : 'NETWORTH.SELECT_STASHTABS') | translate}}
            </mat-label>
            <mat-select [formControl]="stashtabs" (selectionChange)="tabsChanged($event)" multiple
              [disabled]="(stashtabList$ | async).length == 0">
              <mat-option *ngFor="let tab of stashtabList$ | async" [value]="tab.id">{{tab.n}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <mat-form-field>
            <mat-label>{{ 'NETWORTH.SELECT_STASHTABS' | translate}}</mat-label>
            <mat-select [formControl]="stashtabs" (selectionChange)="tabsChanged($event)" multiple
              [disabled]="(stashtabList$ | async).length == 0">
              <mat-option *ngFor="let tab of stashtabList$ | async" [value]="tab.id">{{tab.n}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
    <div class="config global-config">
      <!-- <mat-form-field class="ml--15">
        <mat-label>{{ 'GLOBAL.SELECT_PLAYERS' | translate}}</mat-label>
        <mat-select [formControl]="players" (selectionChange)="playersChanged($event)" multiple disabled>
          <mat-option *ngFor="let player of playerList$ | async" [value]="player.name">{{player.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <div class="btn-container ml--15">
        <div class="snapshot-timestamp-labels">
          <span class="next-snapshot-timestamp mr--15"
            *ngIf="(netWorthSettings$ | async).automaticSnapshotting && snapshotService.snapshotCountdown > 0">{{snapshotService.snapshotCountdown}}
            {{'NETWORTH.NEXT_SNAPSHOT_LABEL_SUFFIX' | translate}}</span><br />
          <span class="last-snapshot-timestamp mr--15"
            *ngIf="(lastSnapshot$ | async)">{{'NETWORTH.LAST_SNAPSHOT_LABEL_PREFIX' | translate}}
            {{getFromNow((lastSnapshot$ | async))}}</span>
        </div>
        <button mat-raised-button color="primary"
          [disabled]="(status$ | async).snapshotting || (netWorthSettings$ | async).automaticSnapshotting"
          (click)="doSnapshot()">{{'ACTIONS.SNAPSHOT' | translate}}</button>
      </div>
    </div>
  </div>
</div>