<div class="top-bar divider">
  <div class="top-bar-content">
    <div class="config specific-config">
      <ng-container [ngSwitch]="moduleIndex$ | async">
        <ng-container *ngSwitchCase="0">
          <mat-form-field class="mr--15">
            <mat-label>{{ 'NETWORTH.STASHTABS' | translate}}</mat-label>
            <mat-select [formControl]="stashtabs" (selectionChange)="tabsChanged($event)" multiple [disabled]="(status$ | async).snapshotting">
              <mat-option *ngFor="let tab of stashtabList$ | async" [value]="tab.id">{{tab.n}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <mat-form-field class="mr--15">
              <mat-label>{{ 'NETWORTH.STASHTABS' | translate}}</mat-label>
              <mat-select [formControl]="stashtabs" (selectionChange)="tabsChanged($event)" multiple [disabled]="(status$ | async).snapshotting">
                <mat-option *ngFor="let tab of stashtabList$ | async" [value]="tab.id">{{tab.n}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
      </ng-container>
    </div>
    <div class="config global-config">
      <!-- temporarily outcommented -->
      <!-- <mat-form-field class="ml--15">
        <mat-label>{{ 'GLOBAL.PLAYERS' | translate}}</mat-label>
        <mat-select [formControl]="players" (selectionChange)="playersChanged($event)" multiple disabled>
          <mat-option *ngFor="let player of playerList$ | async" [value]="player.name">{{player.name}}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </div>
</div>