<mat-tab-group #tabGroup id="tabGroup" [(selectedIndex)]="selectedIndex">
    <mat-tab #currentGrpTab id="currentGrpTab" class="active">
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">show_chart</mat-icon>
            &nbsp;{{'NETWORTH.GRAPH.HEADER' | translate}}
        </ng-template>
    </mat-tab>
    <mat-tab #summaryTab id="summaryTab">
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">list</mat-icon>
            &nbsp;{{'NETWORTH.ITEMS.HEADER' | translate}}
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div class="container net-worth-content">
    <app-net-worth-toolbar></app-net-worth-toolbar>
    <div [hidden]="selectedIndex != 0">
        <app-net-worth-graph></app-net-worth-graph>
    </div>
    <div [hidden]="selectedIndex != 1">
        <app-net-worth-item-table></app-net-worth-item-table>
    </div>
</div>
<app-net-worth-bar></app-net-worth-bar>